<div id="posts">
    <div class="posts-card">
        <div class="posts-card-header">
            <p class="post-title">{{title}}</p>
            <p class="post-author">{{user.username}} <span class="post-date">{{format_date createdAt}}</span></p>
            
        </div>
        <div class="posts-card-body">
            <p>
                {{post_content}}
            </p>
            <a href="/post/{{id}}"><i class="fa fa-comment"><span> {{comments.length}} {{  format_plural "comment" comments.length }} </span></i></a>
        </div>
    </div>
</div>