<div id="dashboard">
    <div class="introduction">
        <h2>Welcome, {{username}}!</h2>
    </div>
    <div class="activity">
        <h3>Posts</h3>
            {{#if posts.length}}
                {{#each posts as |post|}}
                    <div class="posts">
                        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
                        <button class="btn-delete" data-id="{{post.id}}">Delete</button>
                    </div>
                {{/each }}
            {{else}}
                <h4>No Posts Yet</h4>
            {{/if}}
    </div>
    <div class="new-post">
        <h3>Create New Post</h3>
        <form class="post-form">
            <input type="text" placeholder="Title" class="form-title" />
            <textarea placeholder="Content" class="form-content" rows="20"></textarea>
            <button class="btn" >Add Post</button>
        </form>
    </div>
</div>
<script src="./js/post.js"></script>